html,
body {
    background-color: #343d46;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #08090A;
}

#universo {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

#galaxia {
    position: relative;
    width: 100%;
    height: 100%;
    /*perspective: 4000;*/
}

#sistema-solar {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.orbita {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform-style: preserve-3d;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.orbita .orbita {
    animation-name: suborbit;
}

.posicion {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
    transform-style: preserve-3d;
    animation-name: invert;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun,
.planeta,
#tierra .luna {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    border-radius: 50%;
    transform-style: preserve-3d;
}

#sun {
    background-color: #FB7209;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
}

.planeta {
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* --------------------------------------------------------------------------- índice de planetas */

#mercurio {
    z-index: 10;
}

#venus {
    z-index: 9;
}

#tierra {
    z-index: 8;
}

#moon {
    z-index: 7;
}

#marte {
    z-index: 6;
}

#jupiter {
    z-index: 5;
}

#saturno {
    z-index: 4;
}

#urano {
    z-index: 3;
}

#neptuno {
    z-index: 2;
}

#sun {
    z-index: 1;
}

/* --------------------------------------------------------------------------- animations */

@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes suborbit {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(-360deg);
    }
}

@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
}

/* --------------------------------------------------------------------------- opening */

.view-3D .opening #sun,
.view-3D .opening .orbita,
.view-3D .opening .posicion,
.view-3D .opening .planeta,
.view-3D .opening .satelite,
.view-3D .opening .ring {
    transition-duration: 4s;
}

#universo.opening #sun {
    box-shadow: 0 0 0 rgba(255, 160, 60, 0);
}

/* --------------------------------------------------------------------------- 2D view */

.view-2D.zoom-large #sun {
    transform-style: flat;
}

.view-2D.zoom-large .orbita {
    transform-style: flat;
}

.view-2D #sun,
.view-2D .ring {
    transform: rotateX(0deg);
}

.view-2D .planeta,
.view-2D .luna {
    transform: rotateX(90deg);
}

/* --------------------------------------------------------------------------- 3D view */

.view-3D.zoom-large #sun {
    transform-style: preserve-3d;
}

.view-3D.zoom-large .orbita {
    transform-style: preserve-3d;
}

.view-3D #sistema-solar {
    transform: rotateX(75deg);
}

.view-3D #sun {
    transform: rotateX(-90deg);
}

.view-3D .ring {
    transform: rotateX(90deg);
}

.view-3D .planeta,
.view-3D .luna {
    transform: rotateX(0deg);
}

/* --------------------------------------------------------------------------- large zoom */

.zoom-large #sistema-solar {
    width: 100%;
}

.zoom-large.view-2D .scale-stretched #sistema-solar {
    font-size: 26%;
}

.zoom-large.view-3D .scale-stretched #sistema-solar {
    font-size: 62%;
}

.zoom-large.view-2D .scale-d #sistema-solar {
    font-size: 22%;
}

.zoom-large.view-3D .scale-d #sistema-solar {
    font-size: 48%;
}

.zoom-large.view-2D .scale-s #sistema-solar {
    font-size: 7%;
}

.zoom-large.view-3D .scale-s #sistema-solar {
    font-size: 14%;
}

/* --------------------------------------------------------------------------- close zoom */

.zoom-close #sistema-solar {
    width: 200%;
    font-size: 100%;
}

.zoom-close .scale-stretched #sistema-solar {
    margin-left: -100%;
}

.zoom-close .scale-d #sistema-solar {
    margin-left: -106%;
}

.zoom-close.view-2D .scale-d #sistema-solar {
    font-size: 84%;
}

.zoom-close.view-3D .scale-d #sistema-solar {
    font-size: 84%;
}

.zoom-close .scale-s #sistema-solar {
    margin-left: -145%;
}

.zoom-close.view-2D .scale-s #sistema-solar {
    font-size: 40%;
}

.zoom-close.view-3D .scale-s #sistema-solar {
    font-size: 40%;
}

.zoom-close .orbita,
.zoom-close .posicion,
.zoom-close .planeta,
.zoom-close .satelite,
.zoom-close .ring {
    animation-play-state: paused!important;
    animation-duration: 0s!important;
    animation: none!important;
}

.zoom-close.view-2D .planeta,
.zoom-close.view-2D .luna {
    transform: rotateX(0deg);
}

.zoom-close.view-3D .planeta {
    transform: rotateX(-90deg);
}

.zoom-close.view-3D .luna {
    transform: rotateX(90deg);
}

.zoom-close .posicion {
    left: 100%!important;
    top: 50%!important;
}

/* --------------------------------------------------------------------------- data */

/* --------------------------------------------------------------------------- velocidad */

/* años siderales */

#mercurio .posicion,
#mercurio .planeta,
#mercurio.orbita {
    animation-duration: 2.89016s;
}

#venus .posicion,
#venus .planeta,
#venus.orbita {
    animation-duration: 7.38237s;
}

#tierra .posicion,
#tierra .planeta,
#tierra.orbita {
    animation-duration: 12.00021s;
}

#tierra .orbita .posicion,
#tierra .orbita {
    animation-duration: 0.89764s;
}

#marte .posicion,
#marte .planeta,
#marte.orbita {
    animation-duration: 22.57017s;
}

#jupiter .posicion,
#jupiter .planeta,
#jupiter.orbita {
    animation-duration: 142.35138s;
}

#saturno .posicion,
#saturno .planeta,
#saturno.orbita {
    animation-duration: 353.36998s;
}

#urano .posicion,
#urano .planeta,
#urano.orbita {
    animation-duration: 1008.20215s;
}

#neptuno .posicion,
#neptuno .planeta,
#neptuno.orbita {
    animation-duration: 1977.49584s;
}

/* --------------------------------------------------------------------------- planets sizes */

/* --------------------------------------------------------------------------- stretched sizes */

.scale-stretched #sun {
    font-size: 24em;
}

.scale-stretched #mercurio .planeta {
    font-size: 1.5em;
}

.scale-stretched #venus .planeta {
    font-size: 3.72em;
}

.scale-stretched #tierra .planeta {
    font-size: 3.92em;
}

.scale-stretched #tierra .luna {
    font-size: 1.2em;
}

.scale-stretched #marte .planeta {
    font-size: 2.9em;
}

.scale-stretched #jupiter .planeta {
    font-size: 12em;
}

.scale-stretched #saturno .planeta {
    font-size: 10.8em;
}

.scale-stretched #urano .planeta {
    font-size: 4.68em;
}

.scale-stretched #neptuno .planeta {
    font-size: 4.9em;
}

/* --------------------------------------------------------------------------- scaled sizes */

/*
(planets radius * 2) * ratio
*/

/*$distanceScaleRatio:   0.000075em;*/

/* --------------------------------------------------------------------------- planets distance scale sizes */

.scale-d #sun {
    font-size: 41.73048em;
}

.scale-d #mercurio .planeta {
    font-size: 0.14634em;
}

.scale-d #venus .planeta {
    font-size: 0.36306em;
}

.scale-d #tierra .planeta {
    font-size: 0.38226em;
}

.scale-d #tierra .luna {
    font-size: 0.08226em;
}

.scale-d #marte .planeta {
    font-size: 0.20334em;
}

.scale-d #jupiter .planeta {
    font-size: 4.19466em;
}

.scale-d #saturno .planeta {
    font-size: 3.49392em;
}

.scale-d #urano .planeta {
    font-size: 1.52172em;
}

.scale-d #neptuno .planeta {
    font-size: 1.47732em;
}

/* --------------------------------------------------------------------------- escalas de los planetas */

.scale-s #sun {
    font-size: 417.3048em;
}

.scale-s #mercurio .planeta {
    font-size: 1.4634em;
}

.scale-s #venus .planeta {
    font-size: 3.6306em;
}

.scale-s #tierra .planeta {
    font-size: 3.8226em;
}

.scale-s #tierra .luna {
    font-size: 0.8226em;
}

.scale-s #marte .planeta {
    font-size: 2.0334em;
}

.scale-s #jupiter .planeta {
    font-size: 41.9466em;
}

.scale-s #saturno .planeta {
    font-size: 34.9392em;
}

.scale-s #urano .planeta {
    font-size: 15.2172em;
}

.scale-s #neptuno .planeta {
    font-size: 14.7732em;
}

/* --------------------------------------------------------------------------- stretched orbits */

.scale-stretched #mercurio.orbita {
    width: 32em;
    height: 32em;
    margin-top: -16em;
    margin-left: -16em;
}

.scale-stretched #venus.orbita {
    width: 40em;
    height: 40em;
    margin-top: -20em;
    margin-left: -20em;
}

.scale-stretched #tierra.orbita {
    width: 56em;
    height: 56em;
    margin-top: -28em;
    margin-left: -28em;
}

.scale-stretched #tierra .orbita {
    width: 6em;
    height: 6em;
    margin-top: -3em;
    margin-left: -3em;
}

.scale-stretched #marte.orbita {
    width: 72em;
    height: 72em;
    margin-top: -36em;
    margin-left: -36em;
}

.scale-stretched #jupiter.orbita {
    width: 100em;
    height: 100em;
    margin-top: -50em;
    margin-left: -50em;
}

.scale-stretched #saturno.orbita {
    width: 150em;
    height: 150em;
    margin-top: -75em;
    margin-left: -75em;
}

.scale-stretched #urano.orbita {
    width: 186em;
    height: 186em;
    margin-top: -93em;
    margin-left: -93em;
}

.scale-stretched #neptuno.orbita {
    width: 210em;
    height: 210em;
    margin-top: -105em;
    margin-left: -105em;
}

/* --------------------------------------------------------------------------- scaled orbits */

/* --------------------------------------------------------------------------- distance scale orbits */

.scale-d #mercurio.orbita {
    width: 44.74176em;
    height: 44.74176em;
    margin-top: -22.37088em;
    margin-left: -22.37088em;
}

.scale-d #venus.orbita {
    width: 47.35737em;
    height: 47.35737em;
    margin-top: -23.67869em;
    margin-left: -23.67869em;
}

.scale-d #tierra.orbita {
    width: 49.50959em;
    height: 49.50959em;
    margin-top: -24.75479em;
    margin-left: -24.75479em;
}

.scale-d #marte.orbita {
    width: 53.58356em;
    height: 53.58356em;
    margin-top: -26.79178em;
    margin-left: -26.79178em;
}

.scale-d #jupiter.orbita {
    width: 82.2042em;
    height: 82.2042em;
    margin-top: -41.1021em;
    margin-left: -41.1021em;
}

.scale-d #saturno.orbita {
    width: 115.91713em;
    height: 115.91713em;
    margin-top: -57.95857em;
    margin-left: -57.95857em;
}

.scale-d #urano.orbita {
    width: 191.00471em;
    height: 191.00471em;
    margin-top: -95.50235em;
    margin-left: -95.50235em;
}

.scale-d #neptuno.orbita {
    width: 275.64709em;
    height: 275.64709em;
    margin-top: -137.82355em;
    margin-left: -137.82355em;
}

/* Moon */

.scale-d #tierra .orbita {
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

/* --------------------------------------------------------------------------- Escalas de las órbitas */

.scale-s #mercurio.orbita {
    width: 441.3048em;
    height: 441.3048em;
    margin-top: -220.6524em;
    margin-left: -220.6524em;
}

.scale-s #venus.orbita {
    width: 457.3048em;
    height: 457.3048em;
    margin-top: -228.6524em;
    margin-left: -228.6524em;
}

.scale-s #tierra.orbita {
    width: 473.3048em;
    height: 473.3048em;
    margin-top: -236.6524em;
    margin-left: -236.6524em;
}

.scale-s #marte.orbita {
    width: 489.3048em;
    height: 489.3048em;
    margin-top: -244.6524em;
    margin-left: -244.6524em;
}

.scale-s #jupiter.orbita {
    width: 561.3048em;
    height: 561.3048em;
    margin-top: -280.6524em;
    margin-left: -280.6524em;
}

.scale-s #saturno.orbita {
    width: 705.3048em;
    height: 705.3048em;
    margin-top: -352.6524em;
    margin-left: -352.6524em;
}

.scale-s #urano.orbita {
    width: 817.3048em;
    height: 817.3048em;
    margin-top: -408.6524em;
    margin-left: -408.6524em;
}

.scale-s #neptuno.orbita {
    width: 881.3048em;
    height: 881.3048em;
    margin-top: -440.6524em;
    margin-left: -440.6524em;
}

/* Luna */

.scale-s #tierra .orbita {
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

/* --------------------------------------------------------------------------- info */

/* --------------------------------------------------------------------------- velocidad */

.set-speed dl.infos dd span:after {
    content: 'Orbit Velocity';
}

.set-speed #sun dl.infos dd:after {
    content: '0 km/h';
}

.set-speed #mercurio dl.infos dd:after {
    content: '170,503 km/h';
}

.set-speed #venus dl.infos dd:after {
    content: '126,074 km/h';
}

.set-speed #tierra dl.infos dd:after {
    content: '107,218 km/h';
}

.set-speed #marte dl.infos dd:after {
    content: '86,677 km/h';
}

.set-speed #jupiter dl.infos dd:after {
    content: '47,002 km/h';
}

.set-speed #saturno dl.infos dd:after {
    content: '34,701 km/h';
}

.set-speed #urano dl.infos dd:after {
    content: '24,477 km/h';
}

.set-speed #neptuno dl.infos dd:after {
    content: '19,566 km/h';
}

/* --------------------------------------------------------------------------- tamaño */

.set-size dl.infos dd span:after {
    content: 'Equatorial Circumference';
}

.set-size #sun dl.infos dd:after {
    content: '4,370,005 km';
}

.set-size #mercurio dl.infos dd:after {
    content: '15,329 km';
}

.set-size #venus dl.infos dd:after {
    content: '38,024 km';
}

.set-size #tierra dl.infos dd:after {
    content: '40,030 km';
}

.set-size #marte dl.infos dd:after {
    content: '21,296 km';
}

.set-size #jupiter dl.infos dd:after {
    content: '439,263 km';
}

.set-size #saturno dl.infos dd:after {
    content: '365,882 km';
}

.set-size #urano dl.infos dd:after {
    content: '159,354 km';
}

.set-size #neptuno dl.infos dd:after {
    content: '154,704 km';
}

/* --------------------------------------------------------------------------- distance */

.set-distance dl.infos dd span:after {
    content: 'Desde el Sol';
}

.set-distance #sun dl.infos dd span:after {
    content: 'Desde la Tierra';
}

.set-distance #sun dl.infos dd:after {
    content: '149,598,262 km';
}

.set-distance #mercurio dl.infos dd:after {
    content: '57,909,227 km';
}

.set-distance #venus dl.infos dd:after {
    content: '108,209,475 km';
}

.set-distance #tierra dl.infos dd:after {
    content: '149,598,262 km';
}

.set-distance #marte dl.infos dd:after {
    content: '227,943,824 km';
}

.set-distance #jupiter dl.infos dd:after {
    content: '778,340,821 km';
}

.set-distance #saturno dl.infos dd:after {
    content: '1,426,666,422 km';
}

.set-distance #urano dl.infos dd:after {
    content: '2,870,658,186 km';
}

.set-distance #neptuno dl.infos dd:after {
    content: '4,498,396,441 km';
}

/* --------------------------------------------------------------------------- planets starting position and lighting effect */

/* --------------------------------------------------------------------------- mercury ; pos: Top */

#mercurio .posicion {
    left: 50%;
    top: -1%;
}

#mercurio .planeta {
    animation-name: shadow-mercury;
}

@keyframes shadow-mercury {
    0% {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    25% {
        box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    50% {
        box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    50.01% {
        box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    75% {
        box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    100% {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        /* TOP */
    }
}

.scaled.view-2D #mercurio .planeta,
.scaled.view-3D #mercurio .planeta {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- venus ; pos: Left */

#venus .posicion {
    left: 0;
    top: 50%;
}

#venus .planeta {
    animation-name: shadow-venus;
}

@keyframes shadow-venus {
    0% {
        box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    25% {
        box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    25.5% {
        box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    50% {
        box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    75% {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    100% {
        box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }
}

.scaled.view-2D #venus .planeta,
.scaled.view-3D #venus .planeta {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- earth ; pos: Right */

#tierra .posicion {
    left: 100%;
    top: 50%;
}

#tierra .planeta {
    animation-name: shadow-earth;
}

@keyframes shadow-earth {
    0% {
        box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    25% {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    50% {
        box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    75% {
        box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    75.01% {
        box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    100% {
        box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }
}

.scaled.view-2D #tierra .planeta,
.scaled.view-3D #tierra .planeta {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- moon */

#tierra .orbita .posicion {
    left: 100%;
    top: 50%;
}

/* --------------------------------------------------------------------------- mars ; pos: Bottom */

#marte .posicion {
    left: 50%;
    top: 100%;
}

#marte .planeta {
    animation-name: shadow-mars;
}

@keyframes shadow-mars {
    0% {
        box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    25% {
        box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    50% {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    75% {
        box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    99.99% {
        box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    100% {
        box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }
}

.scaled.view-2D #marte .planeta,
.scaled.view-3D #marte .planeta {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- jupiter ; pos: Right */

#jupiter .posicion {
    left: 100%;
    top: 50%;
}

#jupiter .planeta {
    animation-name: shadow-jupiter;
}

@keyframes shadow-jupiter {
    0% {
        box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    25% {
        box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    50% {
        box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    75% {
        box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    75.01% {
        box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    100% {
        box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }
}

.scaled.view-2D #jupiter .planeta,
.scaled.view-3D #jupiter .planeta {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- saturn ; pos: Left */

#saturno .posicion {
    left: 0%;
    top: 50%;
}

#saturno .planeta {
    animation-name: shadow-saturn;
}

@keyframes shadow-saturn {
    0% {
        box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    25% {
        box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    25.01% {
        box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    50% {
        box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    75% {
        box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    100% {
        box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }
}

.scaled.view-2D #saturno .planeta,
.scaled.view-3D #saturno .planeta {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- saturn ring */

/*

#saturno .ring           { animation-name:     shadow-saturn-ring; }

@keyframes
shadow-saturn-ring{ 0%   { box-shadow: inset -16px  0      4px   rgba(20, 40, 50, 0.45); opacity: .4; }
                  25%    { box-shadow: inset -5px   -30px   12px  rgba(20, 40, 50, 0.3);  opacity: 1; }
                  25.01% { box-shadow: inset 5px    -30px   12px  rgba(20, 40, 50, 0.3);  opacity: 1; }
                  50%    { box-shadow: inset 16px   0      4px   rgba(20, 40, 50, 0.45);  opacity: .4; }
                  75%    { box-shadow: inset 0      30px  50px  rgba(20, 40, 50, 0);  opacity: .3; }
                  100%   { box-shadow: inset -16px  0      4px   rgba(20, 40, 50, 0.45);  opacity: .4; }
                }

.scaled.view-2D #saturno .ring,
.scaled.view-3D #saturno .ring { box-shadow: inset 16px   0      4px   rgba(20, 40, 50, 0.6); }

*/

/* --------------------------------------------------------------------------- uranus ; pos: Left */

#urano .posicion {
    left: 0;
    top: 50%;
}

#urano .planeta {
    animation-name: shadow-uranus;
}

@keyframes shadow-uranus {
    0% {
        box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    25% {
        box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    25.01% {
        box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    50% {
        box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    75% {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    100% {
        box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }
}

.scaled.view-2D #urano .planeta,
.scaled.view-3D #urano .planeta {
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- neptune ; pos: Top */

#neptuno .posicion {
    left: 50%;
    top: 0;
}

#neptuno .planeta {
    animation-name: shadow-neptune;
}

@keyframes shadow-neptune {
    0% {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        /* TOP */
    }

    25% {
        box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
        /* LEFT */
    }

    50% {
        box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    50.01% {
        box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
        /* BOTTOM */
    }

    75% {
        box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
        /* RIGHT */
    }

    100% {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        /* TOP */
    }
}

.scaled.view-2D #neptuno .planeta,
.scaled.view-3D #neptuno .planeta {
    box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
}

/* --------------------------------------------------------------------------- DEBUG
.posicion,
.planeta,
.orbita,
.ring { animation-duration: 20s!important; }

/* */

/* --------------------------------------------------------------------------- navigation styles */

dl.infos {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-top: -90%;
    margin-left: 90%;
    padding-left: 100%;
    transform-origin: 100% 100%;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
}

dl.infos:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 30px;
    left: 15px;
    bottom: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform-style: preserve-3d;
    transform: skew(-45deg, 0deg);
    box-shadow: inset 1px 1px black;
}

dl.infos dt {
    position: absolute;
    left: 50px;
    margin-bottom: 26px;
    bottom: 30px;
    color: #FFF;
    font-size: 14px;
    text-shadow: 1px 1px 2px black;
}

dl.infos dd:after {
    position: absolute;
    left: 50px;
    bottom: 30px;
    width: 300px;
    color: #FFF;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
}

dl.infos dd span:after {
    position: absolute;
    left: 50px;
    bottom: 14px;
    width: 300px;
    color: #FFF;
    font-size: 11px;
    text-shadow: 1px 1px 2px black;
}

.sun #sun .infos,
.mercury #mercurio .infos,
.venus #venus .infos,
.tierra #tierra .infos,
.mars #marte .infos,
.jupiter #jupiter .infos,
.saturn #saturno .infos,
.uranus #urano .infos,
.neptune #neptuno .infos {
    display: block;
    opacity: 1;
    transform: rotateX(0deg);
}

.mercury #mercurio.orbita,
.venus #venus.orbita,
.tierra #tierra.orbita,
.mars #marte.orbita,
.jupiter #jupiter.orbita,
.saturn #saturno.orbita,
.uranus #urano.orbita,
.neptune #neptuno.orbita {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.hide-UI h1,
.hide-UI #data,
.hide-UI dl.infos,
.hide-UI #controls {
    opacity: 0!important;
    margin-top: -30px;
}

.hide-UI #data {
    margin-bottom: -30px;
}

.hide-UI .orbita {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

h1 {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

h1 span,
#navbar h1 a {
    display: inline;
    position: relative;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

}

#navbar,
#controls,
#data {
    background: rgba(0, 0, 0, 0.4);
}

#navbar {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    height: 48px;
}

#navbar a,
#data a,
#controls label {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    position: relative;
    text-decoration: none;
}

#navbar a:hover,
#data a:hover,
#controls label:hover {
    color: #FFF;
}

#data a.active {
    color: #0CF;
}

#navbar a {
    position: absolute;
    top: 0;
    height: 48px;
    padding: 16px;
    font-size: 14px;
}

#toggle-data {
    left: 0;
}

#toggle-controls {
    right: 0;
}

#data,
#controls {
    z-index: 99;
    position: fixed;
    opacity: 1;
    top: 49px;
    padding: 16px;
}

.data-close #data {
    left: -100%;
}

.data-open #data {
    left: 0px;
}

.controls-close #controls {
    right: -100%;
}

.controls-open #controls {
    right: 0px;
}

#data a {
    margin-bottom: 1px;
    padding: 6px 10px;
    font-size: 18px;
}

#controls label {
    opacity: .6;
    height: 24px;
    margin-bottom: 28px;
}

#controls label:hover {
    opacity: 1;
}

#controls label:before {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    text-align: center;
    color: #FFF;
    z-index: 99;
}

#controls label span {
    display: block;
    margin-left: 36px;
    padding-top: 4px;
    font-size: 18px;
    color: #FFF;
}

#controls input {
    display: block;
    appearance: none;
}

#controls input[type="radio"]:before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #FFF;
    border-radius: 16px;
}

#controls input:checked[type="radio"]:after {
    content: '';
    display: block;
    top: 3px;
    margin-left: 3px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFF;
    z-index: 99;
}

#controls input[type="checkbox"]:before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 22px;
    border: 2px solid #FFF;
    border-radius: 16px;
}

#controls input[type="checkbox"]:after {
    content: '';
    display: block;
    top: 3px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFF;
    z-index: 99;
}

#controls label.set-view:before {
    font: bold small-caps 11px/20px sans-serif;
}

.view-3D #controls label.set-view:before {
    content: '2D';
    margin-left: 82px;
}

.view-2D #controls label.set-view:before {
    content: '3D';
    margin-left: 7px;
}

.view-3D #controls .set-view input:after {
    margin-left: 3px;
}

.view-2D #controls .set-view input:after {
    margin-left: 81px;
}

#controls label.set-zoom:before {
    font: normal small-caps 18px/14px sans-serif;
}

.zoom-large #controls label.set-zoom:before {
    content: '+';
    margin-left: 82px;
}

.zoom-close #controls label.set-zoom:before {
    content: '-';
    margin-left: 7px;
}

.zoom-large #controls .set-zoom input:after {
    margin-left: 3px;
}

.zoom-close #controls .set-zoom input:after {
    margin-left: 81px;
}

/* --------------------------------------------------------------------------- transitions */

.posicion {
    transition-property: top, left;
}

#sistema-solar,
.orbita,
.planeta,
.satelite,
.ring {
    transition-property: width, height, top, left, margin-left, margin-top, webkit-transform;
}

#sun,
.icon {
    transition-property: width, height, webkit-transform;
}

#sistema-solar,
#sun,
.orbita,
.posicion,
.planeta,
.satelite,
.ring,
.infos,
.icon {
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

#sistema-solar,
#sun,
.planeta,
.satelite,
.ring {
    transition-delay: 0s;
}

.posicion {
    transition-delay: 1s;
}

.opening #sistema-solar,
.opening #sun,
.opening .orbita,
.opening .posicion,
.opening .planeta,
.opening .satelite,
.opening .ring,
.opening .infos,
.opening h1,
.opening #data,
.opening dl.infos,
.opening #controls {
    transition-duration: 0s;
    transition-delay: 0s;
}

.opening .posicion {
    transition-delay: 0s;
}

h1,
#data,
#controls {
    transition-property: opacity, margin;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

h1 {
    transition-delay: .35s;
}

#data {
    transition-delay: .7s;
}

#controls {
    transition-delay: 1s;
}

/* --------------------------------------------------------------------------- imágenes */

#mercurio .planeta {
    background-image: url(../img/planetas/mercury.svg);
}

#venus .planeta {
    background-image: url(../img/planetas/venus.svg);
}

#tierra .planeta {
    background-image: url(../img/planetas/planet-earth.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

#tierra .luna {
    background-color: white;
}

#marte .planeta {
    background-image: url("../img/planetas/mars.svg");
}

#jupiter .planeta {
    background-image: url(../img/planetas/jupiter.svg);
}

#saturno .planeta {
    background-image: url(../img/planetas/saturn.svg);
}

#urano .planeta {
    background-image: url(../img/planetas/uranus.svg);
}

#neptuno .planeta {
    background-image: url(../img/planetas/neptune.svg)
}

/* --------------------------------------------------------------------------- responsive */

@media screen and (max-width: 299px) {
    #universo {
        font-size: 20%;
    }
}

@media screen and (min-width: 300px) {
    #universo {
        font-size: 24%;
    }
}

@media screen and (min-width: 500px) {
    #universo {
        font-size: 36%;
    }
}

@media screen and (min-width: 600px) {
    #universo {
        font-size: 44%;
    }
}

@media screen and (min-width: 760px) {
    #universo {
        font-size: 58%;
    }
}

@media screen and (min-width: 1000px) {
    #universo {
        font-size: 73%;
    }

    #navbar,
    #controls,
    #data {
        background: transparent;
    }

    #navbar a {
        display: none;
    }

    h1 {
        font-size: 22px;
        margin-top: 8px;
    }

    #controls {
        padding-right: 32px;
        top: 12px;
    }

    #data {
        position: fixed;
        top: inherit;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    #data a {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        padding: 15px 15px;
    }

    .data-open #data,
    .data-close #data {
        left: 0px;
    }

    .controls-open #controls,
    .controls-close #controls {
        right: 0px;
    }
}

@media screen and (min-width: 1300px) {
    #universo {
        font-size: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .zoom-close .scale-d #sistema-solar {
        margin-left: -120%;
    }
}
